<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64536415566-jj8rlst03ebrbhj1hvuq54h2ie6oe4kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64536415566-jj8rlst03ebrbhj1hvuq54h2ie6oe4kl</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ8PnS1gbAFzZ8W37N4yjmfCcm7Rq2xQI</string>
	<key>GCM_SENDER_ID</key>
	<string>64536415566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parenter.parenter</string>
	<key>PROJECT_ID</key>
	<string>parenterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>parenterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64536415566:ios:6f29231d6938fc3e71221f</string>
</dict>
</plist>